<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="./img/cloudy.png">
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/me.jpg">
            <p>Crated by {{name}}</p> 
        </div>

        {{>footer}}
    </body>

</html>